@model CheeseMVC.ViewModels.AddCheeseViewModel

<h1>Add Cheese</h1>

<form asp-controller="Cheese" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label> @* Tells ASP.NET to generate label for name property of ViewModel *@
        <input class="form-control" asp-for="Name" /> @* Results in all input fields (name, id, type) being generated properly based on the Name attribute *@
        <span asp-validation-for="Name"></span> @* Display error message for Name property *@
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <input type="submit" value="Add Cheese" />

</form>

@* Name & Description are based on properties of our AddCheeseViewModel *@