<h1>@ViewBag.Title</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @*Need to use var here because view does not know what Cheese type is*@
    @foreach (var cheese in ViewBag.cheeses)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.CheeseId">edit</a>
        </tr>
    }
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
